body {
  background-color:  #251b2d;
}

.content  {
  max-width:  870px;
  margin: auto;
  padding:  10px;
}

h1  {
  letter-spacing: 10px;
  font-size:  40px;
  text-align: center;
  color:  #d61b63;
}

#bob, #bub  {
  height: 48px;
}

#bob  {
  float:  right;
}

.row  {
  display:  flex;
  margin-bottom:  12px;
}

.column {
  background: rgba(255, 255,  255,  0.05);
}

h2 {
  font-size:  20px;
  margin: 12px;
  font-weight:  bold;
  text-indent:  12px;
  text-transform: uppercase;
  color:  white;
}

.button  {
  background-color: #1746b5;
  color:  white;
  border: none;
  padding:  12px 24px;
  font-size:  14px;
}

.button1  {
  font-style: italic;
}

button:hover  {
  background-color:  transparent;
}

#ryo {
  width:  867px;
}
